body {
    background-color: rgb(45, 45, 45);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
}

a {
    color: rgb(184, 171, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.title {
    background: linear-gradient(to right, #dab3ff, #54ddff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.subtitle {
    font-size: 20px;
}

.secthead {
    font-size: 17.5px;
}

.boxed {
    background-color: rgb(70, 70, 70);
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 20px auto;
    max-width: 625px;
}

button {
    padding: 10px 15px;
    border: none;
    border-color: invisible;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email {
    background-color: rgb(159, 255, 159);
}

.email:hover {
    background-color: rgb(120, 255, 120);
}

.ublock {
    background-color: rgb(255, 134, 134);
}

.ublock:hover {
    background-color: rgb(255, 100, 100);
}

.librewolf {
    background-color: rgb(109, 255, 255);
}

.librewolf:hover {
    background-color: rgb(80, 255, 255);
}

.monero {
    background-color: orangered;
}

.monero:hover {
    background-color: rgb(200, 60, 60);
}

.codeberg {
    background-color: #1b87d2;
}

.codeberg:hover {
    background-color: #1590e3;
}

.github {
    background-color: black;
    color: white;
}

.github:hover {
    background-color: #333;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(45, 45, 45);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #dab3ff, #b3daff);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #b3daff, #dab3ff);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    scrollbar-color: #dab3ff #454545;
    scrollbar-width: thin;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.text-link-container {
    display: flex;
    align-items: center;
}

.text-link-container p {
    margin-right: 5px;
}
